---
layout: "base.html"
preloadCSS: "/css/blog.css"
eleventyComputed:
  description: "{{ blogDescription }}"
  metaTitle: "{{ blogTitle }}"
  tagTitle: "{{ titleTag }}"
  preloadImg: "{{ image }}"
  permalink: "/blog/{{ pageName | slug }}/index.html"
---

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
  <div class="cs-container">
    <span class="cs-int-title">Blog</span>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source media="(max-width: 600px)" srcset="/assets/images/1280Hero.jpg" />
    <!--Tablet and above Image-->
    <source media="(min-width: 601px)" srcset="/assets/images/1280Hero.jpg" />
    <img
      loading="lazy"
      decoding="async"
      src="/assets/images/1280Hero.jpg"
      alt="pills"
      width="1280"
      height="568"
      aria-hidden="true"
    />
  </picture>
</div>
<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<section id="content-page-1533">
  <div class="cs-container">
    <div class="cs-image-group">
      <picture class="cs-background">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="
          {{ image }}
          "
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="
          {{ image }}
          "
        />
        <img
          loading="lazy"
          decoding="async"
          src="{{ image }}"
          alt="{{ imageAlt }}"
          width="522"
          height="540"
        />
      </picture>
    </div>
    <div class="cs-content">
      <h1 class="cs-title">{{ blogTitle }}</h1>
      {{ content | safe }}
    </div>
  </div>
  <div class="cs-bubbles" aria-hidden="true"></div>
</section>
