/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #banner-712 {
        /* 175px - 200px top */
        padding: clamp(15.9375rem, 10vw, 12.5rem) 1rem 6.25rem;
        position: relative;
        z-index: 1;
    }
    #banner-712 .cs-container {
        text-align: center;
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
    }
    #banner-712 .cs-int-title {
        /* 39px - 61px */
        font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        margin: 0;
        color: var(--bodyTextColorWhite);
        position: relative;
    }
    #banner-712 .cs-background {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #banner-712 .cs-background:before {
        /* background color overlay */
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: #000;
        opacity: 0.75;
        top: 0;
        left: 0;
        z-index: 1;
    }
    #banner-712 .cs-background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Makes img tag act as a background image */
        object-fit: cover;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #banner-712 .cs-background:before {
        opacity: 1;
        background: linear-gradient(
            90.01deg,
            rgba(0, 0, 0, 0.9) 16.86%,
            rgba(0, 0, 0, 0) 100%
        );
    }
}

                                


/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-1592 {
      padding: var(--sectionPadding);
    }
    #sbsr-1592 .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: 34.375rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #sbsr-1592 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: 36.625rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }
    #sbsr-1592 .cs-text {
      margin-bottom: 1rem;
    }
    #sbsr-1592 .cs-text:last-of-type {
      margin-bottom: 2rem;
    }
    #sbsr-1592 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 3rem;
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
    }
    #sbsr-1592 .cs-button-solid:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width .3s;
    }
    #sbsr-1592 .cs-button-solid:hover:before {
      width: 100%;
    }
    #sbsr-1592 .cs-image-group {
      /* scales the whole group based on the view width size and stop when that vales equals .745em, resets at desktop */
      font-size: min(1.959vw, .745em);
      width: 39.375em;
      /* we set a minimum height so it never gets smaller than this value */
      min-height: 39.25em;
      display: block;
      position: relative;
      z-index: 1;
    }
    #sbsr-1592 .cs-picture {
      position: absolute;
    }
    #sbsr-1592 .cs-picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
    #sbsr-1592 .cs-picture1 {
      /* the percentage heights allow them to be responsive to the height of the parent cs-image-group. On desktop, when the felxbox is set to aling-items: stretch, the cs-image group will stretch to fill the height of the parent container. So when you add more content to the cs-content group and make it taller, the cs-image group will get taller with it and every image will stretch with the parent, making this entire group responsive to the changing amounts of content next to it */
      width: 25.8125em;
      height: 79.617834%;
      top: 0;
      right: 0;
      z-index: -1;
    }
    #sbsr-1592 .cs-picture2 {
      width: 25.8125em;
      height: 44.585987%;
      bottom: 0;
      left: 0;
      z-index: 10;
    }
  }
  /* Tablet 768px */
  @media only screen and (min-width: 48rem) {
    #sbsr-1592 .cs-container {
      max-width: 80rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }
    #sbsr-1592 .cs-content {
      /* this padding sets a minimum gap between the top and bottom of the content div and the top and bottom of the cs-image-group */
      padding: 3.75rem 0;
      /* while the cs-image-group will stretch to fill the height of the parent, this property will ensure that the cs-content group aligns itse;f in the center of the parent div instead of stretching */
      align-self: center;
    }
    #sbsr-1592 .cs-image-group {
      font-size: min(1.2vw, 1em);
      flex: none;
      /* sends it to the right in the 2nd position */
      order: 2;
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode #sbsr-1592 .cs-title,
    body.dark-mode #sbsr-1592 .cs-text {
      color: var(--bodyTextColorWhite);
    }
    body.dark-mode #sbsr-1592 .cs-text {
      opacity: .8;
    }
  }


/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1188 {
        padding: var(--sectionPadding);
        background: url("../assets/images/ServicesBG.jpg") no-repeat center center;
        background-size: cover;
    }
    #services-1188 .cs-container {
        max-width: 80rem;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #services-1188 .cs-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
        /* set text align to left if content needs to be left aligned */
        text-align: center;
    }

    #services-1188 .cs-card-group {
        /* changes to 1280px at desktop */
        max-width: 56.25rem;
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        justify-content: center;
        gap: 1rem;
    }
    #services-1188 .cs-item {
        list-style: none;
        max-width: 23rem;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        padding: 1rem;
        border: 1px solid #e8e8e8;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }
    #services-1188 .cs-picture {
        width: 5rem;
        height: 5rem;
        margin-bottom: 1.25rem;
        box-sizing: border-box;
        /* prevents border from affecting height and width */
        background-color: #f7f7f7;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        /* prevents flexbox from squishing it */
        flex: none;
    }
    #services-1188 .cs-icon {
        width: 1.875rem;
        height: auto;
        display: block;
    }
    #services-1188 .cs-h3 {
        font-size: 1.25rem;
        line-height: 1.5em;
        margin: 0;
        margin-bottom: 0.5rem;
        color: var(--headerColor);
        text-align: center;
    }
    #services-1188 .cs-item-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        margin: 0;
        color: var(--bodyTextColor);
        text-align: center;
    }
    #services-1188 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        font-weight: 700;
        min-width: 9.375rem;
        margin: 0;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        padding: 0 1.5rem;
        color: #fff;
        background-color: var(--primary);
        text-decoration: none;
        display: inline-block;
        position: relative;
        z-index: 1;
        text-align: center;
    }
    #services-1188 .cs-button-solid:before {
        content: "";
        width: 0%;
        height: 100%;
        background: #000;
        opacity: 1;
        border-radius: 0.25rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }
    #services-1188 .cs-button-solid:hover:before {
        width: 100%;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1188 .cs-card-group {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.25rem;
    }
    #services-1188 .cs-item {
        margin: 0;
        background-color: white;
    }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #services-1188 .cs-card-group {
        max-width: 80rem;
    }
    #services-1188 .cs-item {
        max-width: none;
        padding: 2rem 1.5rem;
    }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode #services-1188 .cs-topper {
        color: var(--primaryLight);
    }
    body.dark-mode #services-1188 .cs-item {
        background-color: var(--medium);
    }
    body.dark-mode #services-1188 .cs-text,
    body.dark-mode #services-1188 .cs-item-text {
        opacity: 0.8;
    }
    body.dark-mode #services-1188 .cs-picture {
        background-color: var(--accent);
    }
    body.dark-mode #services-1188 .cs-icon {
        /* turns it white */
        filter: grayscale(1) brightness(1000%);
    }
    body.dark-mode #services-1188 .cs-title,
    body.dark-mode #services-1188 .cs-text,
    body.dark-mode #services-1188 .cs-h3,
    body.dark-mode #services-1188 .cs-item-text {
        color: var(--bodyTextColorWhite);
    }
}

                                


  /*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact-1333 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
    }
    #contact-1333 .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 36.5rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        /* 48px - 80px */
        gap: clamp(3rem, 6vw, 5rem);
        position: relative;
    }
    #contact-1333 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #contact-1333 .cs-title {
        max-width: 23ch;
        margin: 0 0 1.75rem 0;
    }
    #contact-1333 .cs-form {
        width: 100%;
        max-width: 40.625rem;
        /* 32px - 48px top and bottom */
        /* 16px - 60px left and right */
        padding: clamp(2rem, 5.18vw, 3rem) clamp(1rem, 5vw, 3.75rem);
        /* prevents flexbox from affecting height and width */
        box-sizing: border-box;
        background-color: #f7f7f7;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        /* prevents flexbox from squishing it */
        flex: none;
        gap: 0.75rem;
    }
    #contact-1333 .cs-form .cs-title {
        /* 16px - 28px */
        margin: 0 0 clamp(1rem, 3vw, 1.75rem) 0;
    }
    #contact-1333 .cs-label {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        width: 100%;
        color: var(--headerColor);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.25rem;
    }
    #contact-1333 .cs-input {
        font-size: 1rem;
        width: 100%;
        height: 3.5rem;
        padding: 0;
        padding-left: 1.5rem;
        color: var(--headerColor);
        background-color: #fff;
        border: none;
        /* prevents padding from adding to height and width */
        box-sizing: border-box;
    }
    #contact-1333 .cs-input::placeholder {
        color: #767676;
        opacity: 0.6;
    }
    #contact-1333 .cs-textarea {
        min-height: 7.5rem;
        padding-top: 1.5rem;
        /* 16px - 28px */
        margin: 0 0 clamp(1rem, 3vw, 1.75rem) 0;
        font-family: inherit;
    }
    #contact-1333 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #1a1a1a;
        border: none;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        overflow: hidden;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
        transition: color 0.3s;
    }
    #contact-1333 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }
    #contact-1333 .cs-button-solid:hover {
        color: #fff;
    }
    #contact-1333 .cs-button-solid:hover:before {
        width: 100%;
    }
    #contact-1333 .cs-submit {
        width: 100%;
        min-width: 17.6875rem;
    }
    #contact-1333 .cs-submit:hover {
        cursor: pointer;
    }
    #contact-1333 .cs-faq-group {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #contact-1333 .cs-faq-item {
        list-style: none;
        width: 100%;
        border-bottom: 1px solid #e8e8e8;
        transition: border-bottom 0.3s;
    }
    #contact-1333 .cs-faq-item.active {
        border-color: var(--primary);
    }
    #contact-1333 .cs-faq-item.active .cs-button {
        color: var(--primary);
    }
    #contact-1333 .cs-faq-item.active .cs-button:before {
        background-color: var(--primary);
        transform: rotate(315deg);
    }
    #contact-1333 .cs-faq-item.active .cs-button:after {
        background-color: var(--primary);
        transform: rotate(-315deg);
    }
    #contact-1333 .cs-faq-item.active .cs-item-p {
        height: auto;
        /* 20px - 24px bottom */
        /* 16px - 24px left & right */
        padding: 0 clamp(1rem, 2vw, 1.5rem) clamp(1.25rem, 2vw, 1.5rem) 0;
        opacity: 1;
    }
    #contact-1333 .cs-button {
        font-size: 1rem;
        line-height: 1.2em;
        text-align: left;
        font-weight: bold;
        /* 16px - 24px */
        padding: clamp(1rem, 2vw, 1.5rem);
        padding-left: 0;
        border: none;
        background: transparent;
        color: var(--headerColor);
        display: block;
        width: 100%;
        position: relative;
        transition:
            background-color 0.3s,
            color 0.3s;
    }
    #contact-1333 .cs-button:hover {
        cursor: pointer;
    }
    #contact-1333 .cs-button:before {
        /* left line */
        content: "";
        width: 0.5rem;
        height: 0.125rem;
        background-color: var(--headerColor);
        opacity: 1;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 45%;
        right: 1.5rem;
        transform: rotate(45deg);
        /* animate the transform from the left side of the x axis, and the center of the y */
        transform-origin: left center;
        transition: transform 0.5s;
    }
    #contact-1333 .cs-button:after {
        /* right line */
        content: "";
        width: 0.5rem;
        height: 0.125rem;
        background-color: var(--headerColor);
        opacity: 1;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 45%;
        right: 1.3125rem;
        transform: rotate(-45deg);
        /* animate the transform from the right side of the x axis, and the center of the y */
        transform-origin: right center;
        transition: transform 0.5s;
    }
    #contact-1333 .cs-button-text {
        width: 80%;
        display: block;
    }
    #contact-1333 .cs-item-p {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        width: 90%;
        height: 0;
        margin: 0;
        /* 16px - 24px */
        padding: 0 clamp(1rem, 2vw, 1.5rem);
        opacity: 0;
        color: var(--bodyTextColor);
        /* clips the text so it doesn't show up */
        overflow: hidden;
        transition:
            opacity 0.3s,
            padding-bottom 0.3s;
    }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #contact-1333 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: space-between;
    }
    #contact-1333 .cs-form {
        width: 45vw;
    }
    #contact-1333 .cs-submit {
        width: auto;
        color: #fff;
        margin-top: 1rem;
    }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode #contact-1333 .cs-title,
    body.dark-mode #contact-1333 .cs-item-p,
    body.dark-mode #contact-1333 .cs-button,
    body.dark-mode #contact-1333 label {
        color: var(--bodyTextColorWhite);
    }
    body.dark-mode #contact-1333 .cs-button:before,
    body.dark-mode #contact-1333 .cs-button:after {
        background-color: var(--bodyTextColorWhite);
    }
    body.dark-mode #contact-1333 .cs-item-p {
        opacity: 0.8;
    }
    body.dark-mode #contact-1333 .cs-form {
        background-color: var(--medium);
    }
    body.dark-mode #contact-1333 .cs-input {
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;
    }
    body.dark-mode #contact-1333 .cs-input::placeholder {
        color: #fff;
        opacity: 0.8;
    }
    body.dark-mode #contact-1333 .cs-graphic {
        opacity: 0.4;
    }
}

                                
                                  